{{>header}}
    <p>Use this site to get your weather</p>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="messageOne"></p>
    <p id="messageTwo"></p>

{{>footer}}
    
